{{question-detail question=model}}<br>
{{update-question updateQuestion="updateQuestion" question=model}}<br>
{{delete-question deleteQuestion="deleteQuestion" question=model}}<br>
<button class="btn btn-primary" {{action 'favoriteQuestion' model}}>Favorite Question</button>
<br>

<hr>

<h3>Responses</h3>

{{answer-display question=model}}<br>
{{new-answer question=model saveAnswer="saveAnswer"}}
